<h1>Hello World!</h1>

<form action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <ul>
    <li>
      <label for="username">Username:</label>
      <input type="text" name="user[username]" id="user[username]">
    </li>

    <li>
      <button>Submit</button>
    </li>
  </ul>
</form>
