<h1>Hello World!</h1>
<div>
    <ul>
  <% @user.errors.full_messages.each do |e| %>
    <li><%= e %></li>
  <% end %>
    </ul>
</div>

<form action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <ul>
    <li>
      <label for="username">Username:</label>
      <input type="text" name="user[username]" id="user[username]">
    </li>
    <li>
      <label for="user[email]">Email:</label>
      <input id="user[email]" type="email" name="user[email]">
    </li>
    <li>
      <label for="user[password]">Password:</label>
      <input id="user[password]" type="password" name="user[password]">
    </li>
    <li>
      <button>Submit</button>
    </li>
  </ul>
</form>
