<h1>Hello World!</h1>

<form action="/users" method="post">
  <ul>
    <li>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
    </li>
    <li>
      <button>Submit</button>
    </li>
  </ul>
</form>
